body {
	margin: 0px;
	/*background-image: url('../images/study-material-1.jpg');*/
	
	background-image: url('../images/sharon-mccutcheon-532782-unsplash.jpg');
	background-repeat:no-repeat;
	display: compact;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-size: cover;
}

.container {
	padding: 100px;
}

#description {
	display: inline;
	font-weight: bold;
	font-style: sans-serif ;
	line-height: 50px;
	text-shadow: 1px 1px 0 #FFFFBB,-1px -1px 0 #FFFFFF; 
	font-size: 30px;
	color: #000000;
}

.main-txt {
	padding: 5%;
}

#startbtn {
	margin: 20px;
    margin-top: -10%;
}