 .inf-content{
    border:1px solid #DDDDDD;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
 
}	

.profile-info
{
	margin-left: 20%;
	margin-right: 20%;
}

.profile-user-box {
	padding-left: 20%;
}